<ul class="nav nav-tabs nav-justified">
  <li <% if (language == "en") { %> class="active" <% } %> ><a href="/en<%= urlPath %>">English</a></li>
  <li <% if (language == "ru") { %> class="active" <% } %> ><a href="/ru<%= urlPath %>">Русский</a></li>
</ul>
