<!DOCTYPE html>

<html lang='en'>

<head>

  <meta charset="utf-8">
  <!-- Предназначен для управления режимом отображением веб-страницы в браузерах Internet Explorer --> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Включает масштабирование на мобильных устройствах -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>

  <link rel="icon" type="image/png" href="/favicon.png" />

</head>

<body>

  <%- body %>

</body>

</html>